<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Lista de Clientes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
         
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/list']" >Listado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/new']" >Nuevo</a>
          </li>
        </ul>
        </div>
    </div>
  </nav>
