<form class="mt-3 col-md-8 offset-md-2" (ngSubmit)="onSave()" [formGroup]="employeeForm">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="nombre" formControlName="nombre">
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="apellido" formControlName="apellido">
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="edad" formControlName="edad">
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="01/01/2020" formControlName="fecha">
        </div>

    </div>

    <button type="submit">guardar</button>
    

</form>
