<div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre </th>
            <th scope="col">Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Detalle</th>
          </tr>
        </thead>
        <tbody>
            <tr class="table-info"  *ngFor="let item of fakeData" >
                <th>{{item.nombre}}</th>
                <td>{{item.apellido}}</td>
                <td>{{item.edad}}</td>
                <td>{{item.fecha}}</td>
                <td>
                    <button type="button" class="btn btn-info" (click)="onGoToSee(item)"  >Ver</button>
                </td>
            </tr>
         
        </tbody>
    </table>

</div>

