<div class="card mt-2">
    <div class="card-header">Cliente Detalle</div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Nombre:<h5>{{employee.nombre}}</h5>
            </li>
            <li class="list-group-item">
                Apellido:<h5>{{employee.apellido}} </h5>
            </li>
            <li class="list-group-item">
                Edad:<h5>{{employee.edad}}</h5>
            </li>
            <li class="list-group-item">
                Fecha de Nacimiento:<h5>{{employee.fecha}}</h5>
            </li>

        </ul>
    </div>
    <div class="btn-group">
        

    </div>
    
</div>
<button type="button" class="btn btn-secondary mt-2" [routerLink]="['/list']">Volver</button>
